<!-- ***************** - Footer Starts Here - ***************** -->
<footer role="contentinfo" id="footer">
    <div id="footer-callout" class="default-callout-link">
        <div id="footer-callout-content">
            <a href="#" class="footer-callout-link">
                <p class="footer-callout-heading">Hi I'm a Global Callout :)</p>
                <p class="footer-callout-text">Use me to engage your customers and promote a rewarding call-to-action (or disable me, change my color and more) </p>
            </a>
        </div><!-- END footer-callout-content -->
    </div><!-- END footer-callout -->

    <div class="footer-overlay">
        <div class="footer-content">
            <div class="one_third tt-column">
                <h3>OM OSS</h3>
                <div class="textwidget">
                    <div class="blog-posts-shortcode-outer-wrap">
                        <p>Every aspect of Karma makes it super easy to personalize your website just the way you want it. We’ve worked tirelessly to ensure that Karma will continue to deliver the powerful options you’re after. With 30 preset color schemes, 6 premium sliders and over 100 glorious shortcodes Karma is the perfect choice for experts and beginners alike.</p>
                    </div>
                    <br class="clear" />
                </div>
            </div>



            <div class="one_third tt-column">
                <h3>Social Networks</h3>
                <ul class="social_icons tt_vector_social_icons tt_no_social_title tt_image_social_icons">
                    <li><a href="#" class="rss" title="RSS Feed">RSS</a></li>
                    <li><a href="#" class="twitter" title="Twitter">Twitter</a></li>
                    <li><a href="#" class="facebook" title="Facebook">Facebook</a></li>
                    <li><a href="#" class="email" title="Email">Email</a></li>
                    <li><a href="#" class="flickr" title="Flickr">Flickr</a></li>
                    <li><a href="#" class="youtube" title="YouTube">YouTube</a></li>
                    <li><a href="#" class="linkedin" title="LinkedIn">LinkedIn</a></li>
                    <li><a href="#" class="pinterest" title="Pinterest">Pinterest</a></li>
                    <li><a href="#" class="foursquare" title="FourSquare">FourSquare</a></li>
                    <li><a href="#" class="delicious" title="Delicious">Delicious</a></li>
                    <li><a href="#" class="digg" title="Digg">Digg</a></li>
                    <li><a href="#" class="google +" title="Google +">Google+</a></li>
                    <li><a href="#" class="dribbble" title="Dribbble">Dribbble</a></li>
                    <li><a href="#" class="skype" title="Skype">Skype</a></li>
                </ul>

            </div>



            <div class="one_third_last tt-column">
                <h3>Join Mailing List</h3>
                <div id="mc_signup">
                    <form method="post" action="#mc_signup" id="mc_signup_form">
                        <input type="hidden" id="mc_submit_type" name="mc_submit_type" value="html" />
                        <input type="hidden" name="mcsf_action" value="mc_submit_signup_form" />
                        <input type="hidden" id="_mc_submit_signup_form_nonce" name="_mc_submit_signup_form_nonce" value="0c5c83c82c" />
                        <div class="mc_merge_var">
                            <label for="mc_mv_FNAME" class="mc_var_label mc_header mc_header_text">Your name</label>
                            <input type="text" size="18" placeholder="" name="mc_mv_FNAME" id="mc_mv_FNAME" class="mc_input"/>
                        </div><!-- /mc_merge_var -->


                        <div class="mc_merge_var">
                            <label for="mc_mv_EMAIL" class="mc_var_label mc_header mc_header_email">Email Address<span class="mc_required">*</span></label>
                            <input type="text" size="18" placeholder="" name="mc_mv_EMAIL" id="mc_mv_EMAIL" class="mc_input"/>
                        </div><!-- /mc_merge_var -->


                        <div id="mc-indicates-required">
                            * = required field
                        </div><!-- /mc-indicates-required -->


                        <div class="mc_signup_submit">
                            <input type="submit" name="mc_signup_submit" id="mc_signup_submit" value="Subscribe" class="button" />
                        </div><!-- /mc_signup_submit -->
                </div><!-- /mc_form_inside -->
                </form><!-- /mc_signup_form -->
            </div><!-- /mc_signup_container -->
        </div><!-- END mc_signup -->


    </div><!-- END footer-content -->
    </div><!-- END footer-overlay -->





    <!-- ***************** - Footer Bottom Starts Here - ***************** -->

    <div id="footer_bottom">
        <div class="info">

            <div id="foot_left">&nbsp; Copyright &copy; 2014 Your Company Name. All rights reserved.
            </div><!-- END foot_left -->

            <div id="foot_right">
                <div class="top-footer">
                    <a href="#" class="link-top">top</a>
                </div>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="template-blog.html">Blog</a></li>
                    <li><a href="template-shortcodes-buttons.html">Shortcodes</a></li>
                </ul>
            </div><!-- END foot_right -->
        </div><!-- END info -->

    </div><!-- END footer_bottom -->
</footer><!-- END footer -->
