<header role="banner" id="header">
    <div class="top-block">
        <div class="top-holder">


            <!-- ***************** - Top Toolbar Left Side - ***************** -->
            <div class="toolbar-left">
                <ul>
                    <li><a href="#">Logge In</a></li>
                    <li><a href="#">Kontakta OSS +46 XXXXXx</a></li>
                </ul>
            </div><!-- END toolbar-left -->



            <!-- ***************** - Top Toolbar Right Side - ***************** -->
            <div class="toolbar-right">
                <ul class="social_icons tt_vector_social_icons tt_no_social_title tt_image_social_icons">
                    <li><a href="#" class="rss" title="RSS Feed">RSS</a></li>
                    <li><a href="#" class="twitter" title="Twitter">Twitter</a></li>
                    <li><a href="#" class="facebook" title="Facebook">Facebook</a></li>
                    <li><a href="#" class="email" title="Email">Email</a></li>
                    <li><a href="#" class="linkedin" title="LinkedIn">LinkedIn</a></li>
                    <li><a href="#" class="google +" title="Google +">Google+</a></li>
                    <li><a href="#" class="dribbble" title="Dribbble">Dribbble</a></li>
                    <li><a href="#" class="skype" title="Skype">Skype</a></li>
                </ul>
            </div><!-- END toolbar-right -->
        </div><!-- END top-holder -->
    </div><!-- END top-block -->



    <div class="header-holder tt-logo-center">
        <div class="header-overlay">
            <div class="header-area">
                <a href="#" class="logo">
                    <img src=#" alt="Karma Responsive Web Template" class="tt-retina-logo" width="154" height="57" />
                </a>



                <!-- ***************** - Main Menu - ***************** -->
                <nav role="navigation">
                    <ul id="menu-main-nav">
                        <li>
                            <a href="#"><span><strong>STARTSIDA</strong></span></a>
                        </li>
                        <li>
                            <a href="#"><span><strong>LAPPNING</strong></span></a>
                        </li>


                        <li><a href="#"><span><strong>VISNINGSVARD</strong></span></a></li>
                        <li><a href="#"><span><strong>STATISTIK</strong></span></a></li>
                        <li>
                            <a href="#"><span><strong>OM OSS</strong></span></a>
                        </li>
                    </ul>
                </nav>
            </div><!-- END header-area -->
        </div><!-- END header-overlay -->
    </div><!-- END header-holder -->
</header><!-- END header -->