{% extends 'MaklarresursUserBundle::layout.html.twig' %}

{% block title %}Dashboard{% endblock %}



{% block body %}
    <h3 class="box-header">Lappning</h3>
    <div class="box">
        <div class="row-fluid" style="margin-bottom: 20px">

            <h1>Tack för din order!</h1>

        </div>

    </div>


{% endblock %}

