{% extends 'MaklarresursUserBundle::layout.html.twig' %}

{% block title %}Dashboard{% endblock %}



{% block body %}
    <h3 class="box-header">DASHBOARD</h3>
    <div class="box">
        <div class="row-fluid" style="margin-bottom: 20px">
            <form class="form-horizontal" method="post" action="{{ path('sample_order_create') }}" id="validate-form" >
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Välj papperstorlek</label>
                    <div class="controls">
                        <select name="paper_size" required="">
                            <option>200g</option>
                            <option>150g</option>
                            <option>250g</option>
                            <option>300g</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Välj adresseringstyp</label>
                    <div class="controls">
                        <select name="address_type" required="">
                            <option></option>
                            <option>Adresserat</option>
                            <option>Oadresserat</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Förening </label>
                    <div class="controls">

                        <div class="input-append">
                            <input type="text" class="input-large" id="address"  placeholder="Address">
                            {#<input type="text" class="input-mini" id="nr" placeholder="Nr">#}
                            {#<input type="text" class="input-mini"  id="bokstav" placeholder="Bokstav">#}
                            <input type="text" class="input-large" id="zone" placeholder="Zon(Stadsdel) ">

                            <a id="add" class="btn btn-info">Add</a>


                            <input type="hidden" name="addresses" id="addresses" value="">
                            <input type="hidden" name="flyers" id="flyers" value="1">
                            {#<button class="btn btn-info" type="button">ADD</button>#}
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputEmail"></label>
                    <div class="controls">
                        <table class="table table-bordered table-striped table-hover " style="width: 70%;">
                            <tbody id="address_list">

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button type="submit" id="next" class="btn btn-primary">NEXT</button>
                    </div>
                </div>
            </form>


        </div>

    </div>

    <script type="text/javascript">

        jQuery(document).ready(function(jQuery) {
            jQuery('#add').click(function(){
                var address = jQuery("#address").val();
//                var nr = jQuery("#nr").val();
//                var bokstav = jQuery("#bokstav").val();
                var zone = jQuery("#zone").val();
                if(address == '' || address == null){
                    alert('please type a address');
                    return 0;
                }
//                if(nr == '' || nr == null){
//                    alert('please type Nr');
//                    return 0;
//                }
//                if(bokstav == '' || bokstav == null){
//                    alert('please type bokstav');
//                    return 0;
//                }
                if(zone == '' || zone == null){
                    alert('please type zone');
                    return 0;
                }
                var flyers = jQuery("#flyers").val();
                jQuery("#flyers").val(parseInt(flyers)+1);
                jQuery("#flyers_view").html(parseInt(flyers)+1);

                var fulladdress = address + ", " + zone;



                $( "#address_list" ).prepend( $('<tr class="gradeA item" id="'+flyers+'"><td><a href="#" id="editAddress" class="ad" data-pk="'+flyers+'">'+ fulladdress +'</a></td></tr>') );
                jQuery("#address").val('');

                $("#editAddress").unbind();
                //editables
                $('#editAddress').editable({
                    type: 'text',
                    name: 'username',
                    title: 'Edit Address'
                });




            });

            jQuery('#next').click(function(jQuery){
                $("#addresses").val('');
                var lol = '';
                $( ".ad" ).each(function( index ) {
                    lol = lol + " | " + $( this ).text();
                });

                $("#addresses").val(lol);
                return true;


            });

            jQuery('.row_delete').click(function(jQuery){
                alert('lol');
                return 0;
                var the_id = jQuery(this).attr("id");
                var data = "id="+the_id;
                var total = jQuery("#total").text();
                jQuery('.item#'+the_id).hide('slow'); //DELETES ITEMS HERE


            });
        });

    </script>

    <script type="text/javascript">
        jQuery(document).ready(function(jQuery) {

            jQuery('.row_delete').click(function(){
                alert('lol');
                return 0;
                var the_id = jQuery(this).attr("id");
                var data = "id="+the_id;
                var total = jQuery("#total").text();
                jQuery('.item#'+the_id).hide('slow'); //DELETES ITEMS HERE


            });
        });

    </script>



{% endblock %}

