{% extends 'MaklarresursUserBundle::layout.html.twig' %}

{% block title %}Dashboard{% endblock %}



{% block body %}
    <h3 class="box-header">DASHBOARD</h3>
    <div class="box">
        <div class="row-fluid" style="margin-bottom: 20px">
            <form class="form-horizontal" method="post" action="{{ path('user_boka_visningsvard_order_create') }}">
                <div class="form-group">
                    <label class="control-label">Booking Time : </label>
                    <div class="controls">
                        <p id="workingTime">
                            <input type="text" class="date start" name="startDate" placeholder="Start Date" required="" />
                            <input type="text" class="time start" name="startTime" placeholder="Start Time" required=""/> to
                            <input type="text" class="time end" name="endTime" placeholder="End Time" required=""/>
                            <input type="text" class="date end" name="endDate" placeholder="End Date" required=""/>
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Address : </label>
                    <div class="controls">
                        <textarea name="address" required=""></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Note : </label>
                    <div class="controls">
                        <textarea name="note" required=""></textarea>
                    </div>
                </div>



                <div class="form-actions">
                    <input type="submit" value="Create" class="btn btn-dark-red">
                </div>


            </form>


        </div>

    </div>





{% endblock %}

