{% extends 'MaklarresursAppBundle::layout.html.twig' %}
{% set pageClass = 'home' %}

{% block title %}Home{% endblock %}


{% block body %}


    <!-- ***************** - Main Content Area - ***************** -->
    <div id="main" class="tt-slider-karma-custom-jquery-1">
        <div class="main-area">






            <!-- ////////////////////////////////////////////////////////// -->
            <!-- ***************** - Content Start Here - ***************** -->
            <!-- ////////////////////////////////////////////////////////// -->


            <div class="jquery1-slider-wrap flexslider">
                <ul class="slides">
                    <li class="jqslider karma-slider-normal-image">
                        <div class="slider-content-main">
                            <h2 class="slider-post-title">Personalize</h2>
                            <p>Every aspect of Karma makes it super easy to personalize your website just the way you want it. We&#8217;ve worked tirelessly to ensure that Karma will continue to deliver the powerful options you&#8217;re after. With 30 preset color schemes, 6 premium sliders and over 100 glorious shortcodes Karma is the perfect choice for experts and beginners alike.</p>
                        </div><!-- END slider-content-main -->

                        <div class="slider-content-sub">
                            <img src="images/business-team.png" width="404" height="256" alt="" />
                        </div><!-- END slider-content-sub -->

                    </li>
                    <li class="jqslider karma-slider-normal-image">
                        <div class="slider-content-main">
                            <h2 class="slider-post-title">Imagine</h2>
                            <p>Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div><!-- END slider-content-main -->

                        <div class="slider-content-sub">
                            <img src="images/open-book-magical.png" width="404" height="256" alt="" />
                        </div><!-- END slider-content-sub -->

                    </li>
                </ul>
            </div><!-- END jquery1-slider-wrap -->

            <main role="main" id="content" class="content_full_width">
                <div class="callout-wrap">
                    <span>Karma is the theme you've been searching for. Add a premium slider to any page, interchange every page template and layout element and design the pants off your website with just a few simple clicks of the mouse.</span>
                </div><!-- END callout-wrap -->

                <br class="clear" />

                <div class="one_third tt-column">
                    <div class="modern_img_frame modern_three_col_large">
                        <div class="img-preload lightbox-img">
                            <a href="#" class="attachment-fadeIn" title="" target="_self">
                                <div class="lightbox-zoom zoom-3 zoom-link" style="position:absolute; display: none;">&nbsp;</div>
                                <img src='images/3-column-van-surf.png' alt='' class="attachment-fadeIn" />
                            </a>
                        </div>
                    </div>
                    <h4>Compatible</h4>
                    <p>Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes mus.</p>
                </div>
                <div class="one_third tt-column">
                    <div class="modern_img_frame modern_three_col_large">
                        <div class="img-preload lightbox-img">
                            <a href="#" class="attachment-fadeIn" title="" target="_self">
                                <div class="lightbox-zoom zoom-3 zoom-link" style="position:absolute; display: none;">&nbsp;</div>
                                <img src='images/3-column-digital-creativity.png' alt='' class="attachment-fadeIn" />
                            </a>
                        </div>
                    </div>
                    <h4>Dependable</h4>
                    <p>Karma is built on highly optimized code that&#8217;s already powering more than 20,000 websites. You can depend on this theme.</p>
                </div>
                <div class="one_third_last tt-column">
                    <div class="modern_img_frame modern_three_col_large">
                        <div class="img-preload lightbox-img">
                            <a href="#" class="attachment-fadeIn" title="" target="_self">
                                <div class="lightbox-zoom zoom-3 zoom-link" style="position:absolute; display: none;">&nbsp;</div>
                                <img src='images/3-column-wishy.png' alt='' class="attachment-fadeIn" />
                            </a>
                        </div>
                    </div>
                    <h4>Personalized</h4>
                    <p>Personalize your website by choosing from 30 preset color schemes, 7 gorgeous overlay patterns and so much more.</p>
                </div>
                <br class="clear" />
                <h5 class="heading-horizontal" style="margin:35px 0 35px 0;"><span>Our Clients Say it Best</span></h5>
                <div class="tt-testimonial-wrapper">
                    <div class="testimonials flexslider">
                        <ul class="slides">
                            <li>
                                <blockquote>
                                    <p>I have downloaded 8 themes from themeforest. This has been the easiest to customize out of them all. I’ve never turned a website around so fast! I’ll be looking for more themes from TrueThemes in the future. Thanks!<cite>&ndash;TrueThemes Customer</cite></p>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote>
                                    <p>I have purchased the Karma Theme and can completely recommend it. The training videos are wonderful, very clear and concise with detailed instructions and demonstration. The Technical Support has also been wonderful, the response time on a issue I had was phenomenal, plus the solution to my issue was provided in a very clear manner. I will be using Karma on my next project as well.<cite>&ndash;Janet</cite></p>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote>
                                    <p>We are so AMAZED by the exceptional skills and professionalism that TrueThemes has showed our law firm. Their excellent support, fast ticket response and vision into design is top notch! We love this Karma theme and we’re so happy with the incredible assistance we’ve received from TrueThemes! Keep up the great work guys!! And Thank you!<cite>&ndash;TrueThemes Customer</cite></p>
                                </blockquote>
                            </li>
                        </ul>
                    </div>
                </div><!-- END testimonials -->


                <!-- ////////////////////////////////////////////////////////// -->
                <!-- ***************** - Content Ends Here - ****************** -->
                <!-- ////////////////////////////////////////////////////////// -->





            </main><!-- END main #content -->
        </div><!-- END main-area -->

        <div id="footer-top">&nbsp;</div>
    </div><!-- END main -->


{% endblock %}