{% extends 'MaklarresursUserBundle::layout.html.twig' %}

{% block title %}Dashboard{% endblock %}



{% block body %}
    <h3 class="box-header">Change Password</h3>
    <div class="box">
        <div class="row-fluid" style="margin-bottom: 20px">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="flash-notice" style="color: green;">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="flash-notice" style="color: red;">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <form method="post" action="{{ path('user_update_password') }}">
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Old Passowrd</label>
                    <div class="controls">
                        <input type="password" class="subject" id="oldpassword" name="oldpassword" placeholder="Type Old Password" required="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">New Password</label>
                    <div class="controls">
                        <input type="password" class="subject" id="newpassword" name="newpassword" placeholder="Type New Password" required="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Re-Type Password</label>
                    <div class="controls">
                        <input type="password" class="subject" id="retypepassword" name="retypepassword" placeholder="Re-Type Password" required="">
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button type="submit" id="next" class="btn btn-primary">UPDATE</button>
                    </div>
                </div>
            </form>


        </div>

    </div>


{% endblock %}


