{% extends 'MaklarresursUserBundle::layout.html.twig' %}

{% block title %}Dashboard{% endblock %}



{% block body %}
    <h3 class="box-header">DASHBOARD</h3>
    <div class="box">
        <div class="row-fluid" style="margin-bottom: 20px">
            <a href="{{ path('sample_order') }}" class="btn btn-blue quick-btn span2">
                <i class="icon-edit"></i>
                <span class="quick-btn-title">Skapa <br> Lappning</span>
            </a>
            <a href="{{ path('user_sample_order_view') }}" class="btn btn-cyan quick-btn span2">
                <i class="icon-table"></i>
                <span class="quick-btn-title">översikt <br> Lappning</span>
            </a>
            <a href="#" class="btn btn-blue quick-btn span2">
                <i class="icon-edit"></i>
                <span class="quick-btn-title">Boka <br> Visningsvärd</span>
            </a>
            <a href="#" class="btn btn-cyan quick-btn span2">
                <i class="icon-table"></i>
                <span class="quick-btn-title">översikt Boka visningsvärd</span>
            </a>
            <a href="#" class="btn btn-blue quick-btn span2">
                <i class="icon-edit"></i>
                <span class="quick-btn-title">Skapa <br> Användare</span>
            </a>
            <a href="#" class="btn btn-cyan quick-btn span2">
                <i class="icon-table"></i>
                <span class="quick-btn-title">översikt <br> Employees </span>
            </a>

        </div>

    </div>
    <h3 class="box-header">inställningar</h3>
    <div class="box">
        <div class="row-fluid" style="margin-bottom: 20px">
            <a href="#" class="btn  quick-btn span2">
                <i class="icon-user"></i>
                <span class="quick-btn-title">VISA <br> PROFIL </span>
            </a>
            <a href="#" class="btn btn-green quick-btn span2">
                <i class="icon-wrench"></i>
                <span class="quick-btn-title">EDITERA <br> PROFIL </span>
            </a>
            <a href="#" class="btn btn-orange quick-btn span2">
                <i class="icon-key"></i>
                <span class="quick-btn-title">Byt <br> lösenord</span>
            </a>
            <a href="#" class="btn btn-orange quick-btn span2">
                <i class="icon-picture"></i>
                <span class="quick-btn-title">Uppdatera <br> profilbild</span>
            </a>
            <a href="/logout" class="btn btn-red quick-btn span2">
                <i class="icon-lock"></i>
                <span class="quick-btn-title">logga ut <br> &nbsp;</span>
            </a>


        </div>

    </div>

{% endblock %}