{% extends 'MaklarresursUserBundle::layout.html.twig' %}

{% block title %}Users{% endblock %}



{% block body %}

    <style type="text/css">
        #theme_switcher {
            display: none;
        }

        .quick-btn i {
            /*font-size: 50px;*/
        }
        .quick-btn {
            /*font-size: 17px;*/
            font-weight: bold;
        }
    </style>
    <h3 class="box-header">Employees</h3>
    <div class="box">
        <div class="row-fluid" style="margin-bottom: 20px">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.email }}</td>
                        <td>{{ entity.username }}</td>
                        <td>
                            <a href="{{ path('admin_user_edit', {'id':entity.id}) }}" title="Edit"><i class="icon-edit icon-2x"></i></a>
                            <a href="{{ path('admin_user_show', {'id':entity.id}) }}" title="Show" style="margin-left: 20px"><i class=" icon-list icon-2x"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>



{% endblock %}

