<div id="map_demo" style=" padding: 20px;">

    <div style="width:720px; border:0; overflow: hidden; float:left;">
        <img style="width:720px;border:0;" id="usa_image" src="{{ asset('bundles/maklarresursadmin/mapFiles/kungsholmen.png') }}" usemap="#usa" >
    </div>
    <div  id="statelist" style="float:left; padding-left: 10px; width:180px; "></div>

    <div style="clear:both; height:8px;"></div>
    <div>

    </div>

    <map id="usa_image_map" name="usa">
        <area state="KM-A" full="District 1" class="district" id="1" href="#" shape="poly" coords="25,349,76,169,74,169,224,207,158,338,158,346,24,351,73,172" />
        <area state="KM-B" full="District 2" class="district" id="2" href="#" shape="poly" coords="13,430,35,372,152,362,151,374,139,380,89,482,82,478" />
        <area state="KM-C" full="District 3" class="district" id="3" href="#" shape="poly" coords="160,528,178,490,150,479,184,391,154,378,142,387,95,485" />
        <area state="KM-D" full="District 4" class="district" id="4" href="#" shape="poly" coords="156,477,188,394,268,429,243,507" />
        <area state="KM-E" full="District 5" class="district" id="5" href="#" shape="poly" coords="164,528,184,492,237,513,318,539,308,578,176,539" />
        <area state="KM-F" full="District 6" class="district" id="6" href="#" shape="poly" coords="325,542,364,554,365,543,445,567,433,617,312,579" />
        <area state="KM-G" full="District 7" class="district" id="7" href="#" shape="poly" coords="247,514,271,433,377,472,462,495,446,561,362,535,359,545" />
        <area state="KM-H" full="District 8" class="district" id="8" href="#" shape="poly" coords="157,373,158,361,291,351,271,419" />
        <area state="KM-I" full="District 9" class="district" id="9" href="#" shape="poly" coords="275,424,285,396,390,423,380,465" />
        <area state="KM-J" full="District 10" class="district" id="10" href="#" shape="poly" coords="386,467,397,425,478,448,476,446,479,446,468,489" />
        <area state="KM-K" full="District 11" class="district" id="11" href="#" shape="poly" coords="438,617,482,450,587,472,588,474,576,520,573,556,550,640,537,646" />
        <area state="KM-L" full="District 12" class="district" id="12" href="#" shape="poly" coords="576,565,665,585,655,644,554,646" />
        <area state="KM-M" full="District 13" class="district" id="13"  href="#" shape="poly" coords="578,558,581,523,594,477,695,502,673,582" />
        <area state="KM-N" full="District 14" class="district" id="14"  href="#" shape="poly" coords="285,388,328,232,434,258,394,418" />
        <area state="KM-O" full="District 15" class="district" id="15" href="#" shape="poly" coords="423,324,440,260,581,297,564,364" />
        <area state="KM-P" full="District 16" class="district" id="16" href="#" shape="poly" coords="421,329,398,419,636,479,660,395" />
        <area state="KM-Q" full="District 17" class="district" id="17" href="#" shape="poly" coords="570,363,587,299,679,322,662,390,660,390,610,376" />
        <area state="KM-R" full="District 18" class="district" id="18" href="#" shape="poly" coords="162,342,165,336,197,271,304,297,296,331,164,344,218,339" />
        <area state="KM-S" full="District 19" class="district" id="19" href="#" shape="poly" coords="227,208,199,264,202,268,306,294,324,232" />
        <area state="KM-T" full="District 20" class="district" id="20" href="#" shape="poly" coords="230,200,272,70,320,85,272,211" />
        <area state="KM-U" full="District 21" class="district" id="21" href="#" shape="poly" coords="224,197,240,149,80,95,65,104,96,154,95,164,98,166" />
        <area state="KM-V" full="District 22" class="district" id="22" href="#" shape="poly" coords="240,143,249,112,208,100,200,92,138,49,86,32,76,51,82,91" />
        <area state="KM-W" full="District 23" class="district" id="23" href="#" shape="poly" coords="135,24,265,71,254,107,213,95" />
        <area state="KM-X" full="District 24" class="district" id="24" href="#" shape="poly" coords="277,214,332,90,390,108,357,234" />
        <area state="KM-Y" full="District 25" class="district" id="25" href="#" shape="poly" coords="398,106,510,154,667,207,683,218,697,229,710,239,723,251,736,266,746,282,754,299,758,314,761,336,690,316,630,300,584,289,444,255,366,236,377,182,394,107" />
        <area state="KM-Z" full="District 26" class="district" id="26" href="#" shape="poly" coords="685,323,764,342,835,481,828,484,815,484,803,479,762,418,669,391" />
        <area state="KM-AA" full="District 27" class="district" id="27" href="#" shape="poly" coords="668,399,748,418,762,428,784,470,784,468,775,453,786,471,770,566,692,546,702,498,643,482" />
        <area state="KM-AB" full="District 28" class="district" id="28" href="#" shape="poly" coords="661,646,669,588,679,588,688,554,750,568,740,641" />
        <area state="KM-AC" full="District 29" class="district" id="29" href="#" shape="poly" coords="789,473,799,483,831,493,846,489,862,498,878,509,901,527,916,539,929,553,943,571,954,637,871,651,860,640,862,624,745,640,758,567,775,572" />
    </map>
</div>