<div id="map_demo" style=" padding: 20px;">

    <div style="width:720px; border:0; overflow: hidden; float:left;">
        <img style="width:720px;border:0;" id="usa_image" src="{{ asset('bundles/maklarresursadmin/mapFiles/fredhall.png') }}" usemap="#usa" >
    </div>
    <div  id="statelist" style="float:left; padding-left: 10px; width:180px; "></div>

    <div style="clear:both; height:8px;"></div>
    <div>

    </div>

    <map id="usa_image_map" name="usa">
        <area state="FH-A" full="District 1" class="district" id="1" alt="" title="District 1" href="#" shape="poly" coords="315,265,336,220,348,196,360,173,371,154,363,149,352,147,340,146,325,151,314,156,302,163,293,171,285,186,283,200,283,213,288,230,295,245" />
        <area state="FH-B" full="District 2" class="district" id="2" alt="" title="District 2" href="#" shape="poly" coords="323,267,334,241,339,230,342,223,348,219,356,209,375,220,399,235,440,260,491,290,488,300,485,313,481,324,477,336,472,344,470,349,465,350" />
        <area state="FH-C" full="District 3" class="district" id="3" alt="" title="District 3" href="#" shape="poly" coords="360,201,365,191,368,178,374,166,380,155,494,216,477,257,474,270" />
        <area state="FH-D" full="District 4" class="district" id="4" alt="" title="District 4" href="#" shape="poly" coords="357,133,368,98,515,156,497,206,434,175,373,144" />
        <area state="FH-E" full="District 5" class="district" id="5" alt="" title="District 5" href="#" shape="poly" coords="481,275,534,128,546,132,562,137,575,144,580,147,526,296" />
        <area state="FH-F" full="District 6" class="district" id="6" alt="" title="District 6" href="#" shape="poly" coords="554,240,561,219,568,201,587,145,724,195,687,301,682,301" />
        <area state="FH-G" full="District 7" class="district" id="7" alt="" title="District 7" href="#" shape="poly" coords="515,362,519,348,534,307,562,320,639,354,614,409,619,407,614,411" />
        <area state="FH-H" full="District 8" class="district" id="8" alt="" title="District 8" href="#" shape="poly" coords="623,412,629,399,635,385,640,373,646,358,724,394,699,447,694,447,630,418" />
        <area state="FH-I" full="District 9" class="district" id="9" alt="" title="District 9" href="#" shape="poly" coords="708,452,715,440,734,398,741,402,760,410,805,430,804,440,779,489,719,459" />
        <area state="FH-J" full="District 10" class="district" id="10" alt="" title="District 10" href="#" shape="poly" coords="615,331,625,310,644,320,662,328,700,345,715,352,740,362,817,396,808,420,646,348,616,333" />
        <area state="FH-K" full="District 11" class="district" id="11" alt="" title="District 11" href="#" shape="poly" coords="767,335,809,223,856,240,850,260,840,289,832,312,822,338,816,355,805,352" />
    </map>
 </div>