<div id="map_demo" style=" padding: 20px;">

    <div style="width:720px; border:0; overflow: hidden; float:left;">
        <img style="width:720px;border:0;" id="usa_image" src="{{ asset('bundles/maklarresursadmin/mapFiles/ostermalm.png') }}" usemap="#usa" >
    </div>
    <div  id="statelist" style="float:left; padding-left: 10px; width:180px; "></div>

    <div style="clear:both; height:8px;"></div>
    <div>

    </div>

    <map id="usa_image_map" name="usa">
        <area state="OM-A" full="District 1" class="district" id="1" href="#" shape="poly" coords="86,14,93,16,112,5,128,12,128,12,128,14,75,141,90,105,76,140,38,128,60,77,75,42" />
        <area state="OM-B" full="District 2" class="district" id="2" href="#" shape="poly" coords="133,14,214,54,214,56,187,118,104,84,118,51" />
        <area state="OM-C" full="District 3" class="district" id="3" href="#" shape="poly" coords="103,90,184,122,162,176,80,144,84,135" />
        <area state="OM-D" full="District 4" class="district" id="4" href="#" shape="poly" coords="190,127,247,151,248,153,226,203,168,179" />
        <area state="OM-E" full="District 5" class="district" id="5" href="#" shape="poly" coords="220,56,276,83,249,146,192,120" />
        <area state="OM-F" full="District 6" class="district" id="6" href="#" shape="poly" coords="252,152,293,167,283,197,314,211,304,233,232,204,240,185" />
        <area state="OM-G" full="District 7" class="district" id="7" href="#" shape="poly" coords="255,146,280,86,352,122,316,206,291,194,300,162,301,165,300,162" />
        <area state="OM-H" full="District 8" class="district" id="8" href="#" shape="poly" coords="35,138,157,191,102,333,29,306,26,308,16,300,21,290,19,178" />
        <area state="OM-I" full="District 9" class="district" id="9" href="#" shape="poly" coords="162,193,222,218,186,300,130,279" />
        <area state="OM-J" full="District 10" class="district" id="10" href="#" shape="poly" coords="127,284,184,307,163,360,106,338" />
        <area state="OM-K" full="District 11" class="district" id="11" href="#" shape="poly" coords="227,219,298,249,282,281,212,252,215,248" />
        <area state="OM-L" full="District 12" class="district" id="12" href="#" shape="poly" coords="210,258,280,285,261,331,192,304" />
        <area state="OM-M" full="District 13" class="district" id="13" href="#" shape="poly" coords="190,308,260,336,243,377,214,366,209,377,168,361" />
        <area state="OM-N" full="District 14" class="district" id="14" href="#" shape="poly" coords="31,313,159,365,118,428,107,435,32,318" />
        <area state="OM-O" full="District 15" class="district" id="15" href="#" shape="poly" coords="164,367,206,384,159,507,151,511,109,438,123,432" />
        <area state="OM-P" full="District 16" class="district" id="16" href="#" shape="poly" coords="209,397,236,406,241,398,287,415,260,486,240,536,231,555,152,516,163,509" />
        <area state="OM-Q" full="District 17" class="district" id="17" href="#" shape="poly" coords="263,492,332,520,314,571,272,575,237,556" />
        <area state="OM-R" full="District 18" class="district" id="18" href="#" shape="poly" coords="266,489,294,420,362,447,336,515" />
        <area state="OM-S" full="District 19" class="district" id="19" href="#" shape="poly" coords="321,572,338,525,396,545,388,569" />
        <area state="OM-T" full="District 20" class="district" id="20" href="#" shape="poly" coords="341,517,368,449,425,472,398,539" />
        <area state="OM-U" full="District 21" class="district" id="21" href="#" shape="poly" coords="393,569,429,474,460,488,437,567" />
        <area state="OM-V" full="District 22" class="district" id="22" href="#" shape="poly" coords="466,489,512,504,518,493,538,563,442,567" />
        <area state="OM-W" full="District 23" class="district" id="23" href="#" shape="poly" coords="265,339,350,374,328,426,244,393" />
        <area state="OM-X" full="District 24" class="district" id="24" href="#" shape="poly" coords="355,375,416,401,396,451,333,428" />
        <area state="OM-Y" full="District 25" class="district" id="25" href="#" shape="poly" coords="267,334,302,252,345,267,312,351" />
        <area state="OM-Z" full="District 26" class="district" id="26" href="#" shape="poly" coords="316,355,350,270,386,284,352,368" />
        <area state="OM-AA" full="District 27" class="district" id="27" href="#" shape="poly" coords="311,236,357,123,438,165,392,268" />
        <area state="OM-AB" full="District 28" class="district" id="28" href="#" shape="poly" coords="356,371,391,285,420,298,388,383" />
        <area state="OM-AC" full="District 29" class="district" id="29" href="#" shape="poly" coords="392,386,425,300,446,308,452,330,436,343,419,396" />
        <area state="OM-AD" full="District 30" class="district" id="30" href="#" shape="poly" coords="424,399,440,347,456,334,474,339,498,427" />
        <area state="OM-AE" full="District 31" class="district" id="31" href="#" shape="poly" coords="488,333,495,328,566,355,535,441,518,434" />
        <area state="OM-AF" full="District 32" class="district" id="32" href="#" shape="poly" coords="528,460,537,446,679,505,676,514,659,514,642,521,613,557,605,559,600,559,558,561" />
        <area state="OM-AG" full="District 33" class="district" id="33" href="#" shape="poly" coords="397,270,419,218,427,222,458,283,451,294" />
        <area state="OM-AH" full="District 34" class="district" id="34" href="#" shape="poly" coords="422,215,444,167,460,175,482,261,473,279,462,280,432,218" />
        <area state="OM-AI" full="District 35" class="district" id="35" href="#" shape="poly" coords="467,176,562,222,497,263,486,257" />
        <area state="OM-AJ" full="District 36" class="district" id="36" href="#" shape="poly" coords="489,285,500,264,566,226,614,245,597,286,560,270,502,293" />
        <area state="OM-AK" full="District 37" class="district" id="37" href="#" shape="poly" coords="502,298,560,278,595,293,574,342,500,312" />
        <area state="OM-AL" full="District 38" class="district" id="38" href="#" shape="poly" coords="545,433,572,357,702,410,709,410,706,436,688,487" />
        <area state="OM-AM" full="District 39" class="district" id="39" href="#" shape="poly" coords="619,248,758,309,714,402,580,345" />
        <area state="OM-AN" full="District 40" class="district" id="40" href="#" shape="poly" coords="766,308,779,315,792,322,804,329,819,342,834,357,849,376,864,397,875,417,885,440,892,462,895,479,894,496,894,502,854,510,851,520,846,526,838,531,831,534,819,541,806,548,792,556,777,563,763,568,748,572,737,572,722,570,720,570,711,560,702,542,692,526,686,520,680,517" />
    </map>
</div>