<div id="map_demo" style=" padding: 20px;">

    <div style="width:720px; border:0; overflow: hidden; float:left;">
        <img style="width:720px;border:0;" id="usa_image" src="{{ asset('bundles/maklarresursadmin/mapFiles/marieberg.png') }}" usemap="#usa" >
    </div>
    <div  id="statelist" style="float:left; padding-left: 10px; width:180px; "></div>

    <div style="clear:both; height:8px;"></div>
    <div>

    </div>

    <map id="usa_image_map" name="usa">
        <area state="MB-A" full="District 1" class="district" id="1" href="#" shape="poly" coords="20,286,112,328,116,347,118,370,119,386,60,386,42,374,25,365,0,352,0,341" />
        <area state="MB-B" full="District 2" class="district" id="2" href="#" shape="poly" coords="126,394,127,375,127,358,119,323,23,276,31,253,105,285,111,258,149,259,151,303,153,340,154,378,155,395" />
        <area state="MB-C" full="District 3" class="district" id="3" href="#" shape="poly" coords="156,259,247,260,247,284,246,327,245,359,219,359,186,358,162,355" />
        <area state="MB-D" full="District 4" class="district" id="4" href="#" shape="poly" coords="159,446,208,421,208,378,207,367,165,366" />
        <area state="MB-E" full="District 5" class="district" id="5" href="#" shape="poly" coords="89,492,276,407,356,531,222,514" />
        <area state="MB-F" full="District 6" class="district" id="6" href="#" shape="poly" coords="482,351,507,356,535,358,557,360,557,425,621,425,620,438,620,453,602,455,586,458,571,463,556,468,539,477,530,482,519,489,510,498,489,497,483,497,483,421" />
        <area state="MB-G" full="District 7" class="district" id="7" href="#" shape="poly" coords="222,398,223,367,255,367,255,330,256,306,321,306,321,271,345,273,380,273,418,274,468,275,469,285,467,298,463,313,457,333,449,344,443,352,433,360,426,368,410,379,397,386,382,394,372,398" />
        <area state="MB-H" full="District 8" class="district" id="8" href="#" shape="poly" coords="255,259,278,261,307,264,308,294,256,292" />
        <area state="MB-I" full="District 9" class="district" id="9" href="#" shape="poly" coords="42,217,99,62,157,79,174,82,202,84,223,84,224,86,276,239,223,238,178,236,140,235,112,232,89,230" />
        <area state="MB-J" full="District 10" class="district" id="10" href="#" shape="poly" coords="228,77,284,239,319,240,313,196,362,174,310,39,285,44,261,55,243,64" />
        <area state="MB-K" full="District 11" class="district" id="11" href="#" shape="poly" coords="327,201,325,240,343,242,371,244,399,246,425,248,450,250,473,252,484,253,486,232,487,215,487,192,463,190,414,196,400,195,353,199" />
        <area state="MB-L" full="District 12" class="district" id="12" href="#" shape="poly" coords="461,92,534,115,533,134,532,151,529,170,527,192,525,215,522,231,519,256,494,252,496,220,496,184,476,182,460,180" />
        <area state="MB-M" full="District 13" class="district" id="13" href="#" shape="poly" coords="498,287,523,287,557,288,588,289,664,343,646,353,622,358,609,357,593,356,579,354,557,349,533,344,513,339,494,335,487,334,487,312,492,294" />
    </map>
</div>