<div id="map_demo" style=" padding: 20px;">

    <div style="width:720px; border:0; overflow: hidden; float:left;">
        <img style="width:720px;border:0;" id="usa_image" src="{{ asset('bundles/maklarresursadmin/mapFiles/lilla-essingen.png') }}" usemap="#usa" >
    </div>
    <div  id="statelist" style="float:left; padding-left: 10px; width:180px; "></div>

    <div style="clear:both; height:8px;"></div>
    <div>

    </div>

    <map id="usa_image_map" name="usa">
        <area state="LE-A" full="District 1" class="district" id="1" href="#" shape="poly" coords="135,17,155,22,384,114,327,154,295,175,244,208,196,238,153,264,92,314,40,370,27,357,6,185,7,174,29,139,36,140,52,147,60,155,76,154,133,102,128,88,103,74" />
        <area state="LE-B" full="District 2" class="district" id="2" href="#" shape="poly" coords="126,371,90,416,133,487,145,483,186,446,205,460,212,487,201,497,202,502,219,502,220,476,211,457,176,432,188,438,194,442,210,454,185,434,176,430,146,394" />
        <area state="LE-C" full="District 3" class="district" id="3" href="#" shape="poly" coords="160,501,189,500,200,510,276,520,267,594,235,596,189,551,160,516" />
        <area state="LE-D" full="District 4" class="district" id="4" href="#" shape="poly" coords="272,593,374,592,383,554,337,544,338,532,284,521" />
        <area state="LE-E" full="District 5" class="district" id="5" href="#" shape="poly" coords="286,512,338,524,343,512,353,445,299,433" />
        <area state="LE-F" full="District 6" class="district" id="6" href="#" shape="poly" coords="226,504,228,497,227,469,218,450,209,443,245,382,256,406,265,417,276,426,292,430,279,513" />
        <area state="LE-G" full="District 7" class="district" id="7" href="#" shape="poly" coords="358,446,375,448,403,446,430,446,453,438,457,440,488,474,490,482,486,497,435,490,430,522,348,511" />
        <area state="LE-H" full="District 8" class="district" id="8" href="#" shape="poly" coords="350,518,346,538,390,545,379,592,476,585,492,535,492,526,504,501,500,498,491,507,480,506,443,500,437,530" />
        <area state="LE-I" full="District 9" class="district" id="9" href="#" shape="poly" coords="401,361,414,439,447,435,496,399,560,330,472,291,473,303,468,317,459,330,448,341,428,352" />
        <area state="LE-J" full="District 10" class="district" id="10" href="#" shape="poly" coords="390,362,405,440,374,439,345,437,294,426,276,413,320,352,328,357,342,362,361,364" />
        <area state="LE-K" full="District 11" class="district" id="11" href="#" shape="poly" coords="116,340,178,295,210,328,240,372,204,438,177,420" />
        <area state="LE-L" full="District 12" class="district" id="12" href="#" shape="poly" coords="184,290,204,280,233,268,249,263,264,265,276,270,282,277,279,286,282,301,287,313,294,326,301,335,309,343,314,347,267,406,260,401,244,355" />
        <area state="LE-M" full="District 13" class="district" id="13" href="#" shape="poly" coords="290,278,457,277,463,284,465,298,460,319,446,335,425,344,400,353,380,355,356,356,342,353,324,343,309,330,296,313,290,299" />
        <area state="LE-N" full="District 14" class="district" id="14" href="#" shape="poly" coords="500,523,510,498,511,489,497,488,491,459,463,434,502,408,504,406,524,383,543,362,567,334,668,416,660,422,636,428,627,434,609,434,600,449,601,458,590,477,564,502" />
        <area state="LE-O" full="District 15" class="district" id="15" href="#" shape="poly" coords="570,330,644,235,648,237,650,247,658,261,666,267,690,291,706,330,706,369,699,390,672,411,606,349" />
        <area state="LE-P" full="District 16" class="district" id="16" href="#" shape="poly" coords="469,275,484,288,568,322,636,230,604,209" />
        <area state="LE-Q" full="District 17" class="district" id="17" href="#" shape="poly" coords="470,276,604,210,636,231,568,323,485,289" />
        <area state="LE-R" full="District 18" class="district" id="18" href="#" shape="poly" coords="438,268,424,238,396,192,428,161,418,136,450,142,555,191,578,195,595,203,594,204,466,270,442,270" />
        <area state="LE-S" full="District 19" class="district" id="19" href="#" shape="poly" coords="434,269,422,240,393,192,424,161,414,138,362,170,307,214,297,224,291,238,289,251,293,269,315,273" />
    </map>
</div>